{% extends 'base.html.twig' %}

{% block title %}Hello AllCarteCollectionController!{% endblock %}

{% block body %}

<div class="container" id="titlecollection">
    <h1>MES COLLECTIONS</h1>
</div>

<div class="container" id="bgcollection">
    <div class="row">
        {% for allcollection in allcollections %}
        <div class="col-4">
            <a class="nav-link" id="nomcollection" href="{{ path("carte_collection", {"pseudo" : user.pseudo, "id" : allcollection.id}) }}"><button class="btn btn-lg btn-dark">{{ allcollection.nom }}</button></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
