{% extends 'base.html.twig' %}

{% block title %}Hello newCollectionController!{% endblock %}

{% block body %}
{# création d'une collection #}
<div class="container" id="form">
    <h1>CREER UNE COLLECTION</h1>

    {{ form_start(formCollection)}}

        {{ form_row(formCollection.nom, {
            'attr': {'class': "form-control"},
            'label_attr': {'id': "fieldform"}
        }) }}

        <button type="submit" class="btn btn-lg btn-dark" id="fieldform">valider</button>

    {{ form_end(formCollection)}}
</div>
{% endblock %}