body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #485684;
}



/*header*/
header{
    background-color: #044A76; 
}

#titlehead{
    margin-top: 50px;
    font-family: 'Concert One', cursive;    
}

#logohead{
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#navbar{
    background-color: #213645;
}



/*footer*/
footer{
    background-color: #044A76;
    border-top: 10px solid #213645;
}

#discord{
    margin: auto;
}

#logofooter{
    border-radius: 10%;
    margin-top: 20px;
}



/*Acuueil*/
#logodb{
    margin-top: 100px;
    margin-bottom: 150px;
}

#logoygo{
    margin-top: 100px;
    margin-bottom: 150px;
}


/*toutes les cartes*/

#nomcarte{
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
}

#colcarte{
    background-color: #044A76;
    border: solid 15px #485684;
}

/*page pour chaque carte*/

#imgcarte{
    margin-top: 20px;
    margin-bottom: 20px;
}

#stats{
    background-color: #213645;
    margin-top: 10px;
    padding: 5px;
}


#ajouter{
    font-weight: bold;
    padding: 10px;
}

/*formulaire*/

#form{
    background-color: #044A76;
    padding: 15px;
    width:50%;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid 7px #213645;
    border-radius: 30px;
}

#fieldform{
    margin-top: 30px;
}

/*page collection*/

#titlecollection{
    background-color: #044A76;
    margin: auto;
    padding: 10px;
    border: solid 10px #485684;
}

#nomcollection{
    color: white;
}

#bgcollection{
    background-color: #044A76;
    padding: 10px;
    border: solid 10px #485684;
}

/*page de profil*/

#menuprofil{
    background-color: #044A76;
    padding: 10px;
    border: solid 10px #485684;
}

#infoprofil{
    background-color: #044A76;
    padding: 10px;
    margin-left: 10px;
}

#salut{
    background-color: #044A76;
    margin: 10px;
}
 /*page carte collection*/

 #deletecol{
    margin: 10px;
 }