{% extends 'base.html.twig' %}

{% block title %}CARDSTORM{% endblock %}

{% block body %}

<div class="container" id="titlepre">
    <h1 class="text-center">PRESENTATION DU SITE</h1>
</div>
<div class="container" id="textpre">
    <p class="text-center">CardStorm est un site de collection de carte à jouer provenant des jeux les plus populaire,
comme Pokemon, Dragon Ball Cardgame, Yu gih oh, Magic etc...

Le but est simple : Pouvoir gérer ses collections de carte via son espace membre,
et faire le point sur les cartes manquantes de sa collectoin.
Des page listant les regles de chaque jeu pour les néophyte.
Mais aussi partager des decks et des mécanniques de jeu.
L'utilisateur peu visiter les profils d'autre utilisateur pour voir sa collection.
Il est possible de trier les cartes en fonction de leur rareté et de leur type.

J'ai crée un Discord communautaire autour du site pour permettre l'échange entre les
utilisateurs, ce qui permettra un meilleur contact avec l'utilisateur pour organiser certains 
évenement (concours, duel ...). Mais aussi de maintenir informer chacun des nouveautées.


L'idée de ce projet vient d'un site déjà existant : cardgame.fr. Etant un collectionneur
de carte j'ai apprécié utilisée ce site pour la gestion de ma collection. Maleuhresement 
ce site a fermé ses porte depuis un moment. Souhaitant pouvoir à nouveau utilisé ce type de 
service j'ai décidé d'en créer un moi même.

Dans des versions futur je souhaite en plus du discord mettre en place un systeme de communication 
entre les utilisateurs pour qu'ils échangent leur stratégie ou leur cartes directement sur le site.
Mais aussi des liens vers les différents fournisseur des cartes souhaité et une estimation
des prix de vente.
Et bien sur augmentée les différent jeu de cartes, voir même d'étendre le site à d'autre type
de collection.

</p>
</div>


{% endblock %}