{% extends 'base.html.twig' %}

{% block title %}CARDSTORM{% endblock %}

{% block body %}

<div class="container" id="titlepre">
    <h1 class="text-center">PRESENTATION DU SITE</h1>
</div>
<div class="container" id="textpre">
    <p class="text-center">CardStorm est un site qui a pour but d'aider les joueurs et collectionneurs à gérer leurs 
collections ainsi que leur connaissances des cartes.

En effet ce projet permet aux utilisateur d'avoir accès à une base de données incluant
l'ensemble des cartes des jeux les plus populaire comme Yu Gih Oh ou Dragon Ball.
Ainsi l'utilisateur aura accès à l'ensemble des informations de chacune des cartes.

Mais aussi leur permettre, via la création d'un compte, de pouvoir créer leur propre collections. 
Ce qui permettra de grandement faciliter la gestion et l'organisation de leurs collections.

Pour permettre aux utilisateurs de pouvoirs communiquer entre eux le site met à disposition un
Discord dédié à la communauté pour faciliter les échanges de stratégie, de cartes, de partager
des nouveautés ou simplement de discuter entre fan.

L'idée de ce projet vient d'un site déjà existant : cardgame.fr. Étant un collectionneur
de carte j'ai apprécié utilisée ce site pour la gestion de ma collection. Malheureusement 
ce site a fermé ses porte depuis un moment. Souhaitant pouvoir à nouveau utilisé ce type de 
service j'ai décidé d'en créer un moi même.

Dans des versions futur je souhaite en plus du discord mettre en place un système de communication 
entre les utilisateurs pour qu'ils échangent leur stratégie ou leur cartes directement sur le site.
Aussi permettre au joueurs de partager leur meilleurs Deck.
Et bien sur augmentée les différent jeu de cartes, voir même d'étendre le site à d'autre type
de collection.

</p>
</div>


{% endblock %}