{% extends 'base.html.twig' %}


{% block body %}

{# affichage des logos/liens de chaque jeu #}
<div class="container">
    <div class="row" id="accueil">
        <div class="col" id="logodb">
            <a href="{{ path("carte", {"jeu" : "db"}) }}"><img src="{{ asset('logos/db.png') }}" alt="image db" width="500"></a>
        </div>
        <div class="col" id="logoygo">
            <a href="{{ path("carte", {"jeu" : "ygo"}) }}"><img src="{{ asset('logos/ygo.png') }}" alt="image ygo" width="500"></a>
        </div>
    </div>
</div>
{% endblock %}
