{% extends 'base.html.twig' %}

{% block title %}Hello CarteController plus!{% endblock %}

{% block body %}


<h1>{{ cartes.nom }}</h1>

<h3>Ajouter à :</h3>
        
    {% for collection in collections %}

    <br>
        <a href="{{ path("addcard", {"carte" : cartes.id, "collection" : collection.nom }) }}">{{ collection.nom }}</a>
    <br>

    {% endfor %}







{% endblock %}