{% extends 'base.html.twig' %}

{% block title %}Hello CarteController plus!{% endblock %}

{% block body %}


<h1>{{ cartes.nom }}</h1>

<a href="{{ path("addcard", {"id" : cartes.id}) }}"></a>


{% endblock %}